{% extends 'base.html.twig' %}

{% block title %}Editer un exercices{% endblock %}

{% block body %}
    {% include 'include/navbar.html.twig' %}

    <div class="container">
        <h1>Modifier l'exercice</h1>

        En cours de développement...
    </div>
{% endblock %}